---
export const prerender = true;
import Layout from "@layouts/Layout.astro";
import { getDatabase, getBlock, getPages } from "../../notion.js";
import { NOTION_DATABASE_ID } from "astro:env/client"

export async function getStaticPaths() {
  const databaseId = NOTION_DATABASE_ID;
  const rawPages = await getDatabase(databaseId);
  // console.log(rawPages);
    const routes = rawPages?.map((p: any) => {
      return {
        slug: p.properties.slug.rich_text[0].plain_text,
        title: p.properties.Idea.title[0].plain_text,
        id: p.id
      }
    })
  
const pages = [
  ...(routes ?? [])
]
//   for (let index = 0; index < rawPages.length; index++) {
//     let page = await getPages(rawPages[index].id);
//     // console.log(page.properties.Idea.title[0].plain_text);
    
//   }
// }

return pages.map(({ slug, title, id }) => {
    return {
      params: { slug },
      props: { title, id },
    };
  });
}
  // const {slug} = Astro.params
  // const page = pages.find((page) => page.slug === slug);
  // if (!page) return Astro.redirect("/404");
  const {title, id} = Astro.props;

  const blocks  = await getBlock(id);
  let toggleBlocksContent;

  if(Object.hasOwn(blocks, 'children')){
    toggleBlocksContent = await getBlock(blocks.children[2].id);
  }

  let content;

---
<Layout pageName="Blog">
  <h1>{title}</h1>
  <!-- <p>{id}</p> -->
  <section>
    <p>

      {
        toggleBlocksContent?.children[0].paragraph.rich_text.map(
          (p: any) => p.href === null ?
          <p>{p.plain_text}</p>
          :
          <p><a href={p.href} class="highlight">{p.plain_text}</a></p>
        )
      }
    </p>
    <!-- <pre>{JSON.stringify(blocks, null, 2)}</pre> -->
  </section>
</Layout> 

<style>
  p:has(a),
  p:has(a) + p{
    display: inline;
  }
  h1 {
      color: #BB86FC;
      font-size: 2.5rem;
      margin-bottom: 20px;
      text-align: center;
    }

    p, section {
      margin-bottom: 20px;
      font-size: 1.2rem;
    }
    p{
      font-weight: bold;
      
      margin-top: 10px;
    }
    .highlight {
      color: #CF6679;
      font-style: italic;
    }
    section{
      max-width: 800px;
      margin: auto;
      padding: 20px;
      background-color: #1F1F1F;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }
</style>